<nav class="navbar navbar-expand-md navbar-dark" id="FondNavbar">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['home']"><img src="./../../Log02.png" alt=""> PepeForeans</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isAdmin">
                <a class="nav-link" [routerLink]="['productos']">Productos</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isAdmin || isUser">
                <a class="nav-link" [routerLink]="['pedidos']">Pedidos</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isLogued">
                <a class="nav-link" [routerLink]="['compras']">Compras</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['contacto']">Contactanos</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['preguntas']">Preguntas frecuentes</a>
            </li>
        </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="isLoad">
        <ul class="navbar-nav mr-auto">
            <div class="spinner-grow text-light" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <li class="nav-item" routerLinkActive="active" >
                <a class="nav-link">Cargando......</a>
            </li>
        </ul>
    </div>

    <div class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" *ngIf="isLogued">
                <a class="nav-link" [routerLink]="['userPage']">{{this.usuariox.nombre}}</a>
            </li>
            <li class="nav-item" *ngIf="!isLogued">
                <a  class="nav-link" data-toggle="modal" data-target="#logUpModal" href="#logUpModal">Registrarse</a>
            </li>
            <li class="nav-item" *ngIf="isAdmin">
                <a  class="nav-link" data-toggle="modal" data-target="#logUpModalAdv" href="#logUpModalAdv">Registrar Cuenta</a>
            </li>
            <li class="nav-item" *ngIf="!isLogued">
                <a  class="nav-link" data-toggle="modal" data-target="#logInModal" href="#logInModal">Iniciar secion</a>
            </li>
            <li class="nav-item" *ngIf="isLogued">
                <a  class="nav-link" data-toggle="modal" data-target="#logOutModal" href="#logOutModal">Cerrar sesión</a>
            </li>
            <li class="nav-item" *ngIf="isLogued">
                <a  class="nav-link" data-toggle="modal" data-target="#accesModal" href="#accesModal"><img src="./../../acces.png" alt="Accesibilidad"></a>
            </li>
        </ul>
    </div>
</nav>

<!-- Modal -->
<div class="modal" id="accesModal" tabindex="-1" role="dialog" aria-labelledby="accesModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenteredLabel">Desea cerrar secion?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="accesForm" (ngSubmit)="onChange()">
                    <div class="form-group">
                        <label>Color de fondo</label>
                        <input type="color" class="form-control" formControlName="color" value="#000000">
                    </div>
                    <div class="form-group">
                        <label>Tamaño de letra</label>
                        <input type="number" class="form-control" formControlName="size" min="1">
                    </div>
                    <div class="form-group">
                        <label>Tamaño de letra</label>
                        <select class="form-control" formControlName="type">
                            <option value="'Courier New', Courier, monospace">Courier New, Courier, monospace</option>
                            <option value="'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Franklin Gothic Medium</option>
                            <option value="'Times New Roman', Times, serif">Times New Roman</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="logOutModal" tabindex="-1" role="dialog" aria-labelledby="logOutModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenteredLabel">Desea cerrar secion?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="onLogOut()">
                    <button type="submit" class="btn btn-primary mb-2">Cerrar secion</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="logInModal" tabindex="-1" role="dialog" aria-labelledby="logInModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenteredLabel">Ingrese sus datos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="inicioForm" (ngSubmit)="onLogin()">
                    <div class="form-group">
                        <label>Correo electronico</label>
                        <input type="text" class="form-control" placeholder="e-mail" formControlName="email">
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input type="password" class="form-control" placeholder="Contraseña" formControlName="pasword">
                    </div>
                    <div class="alert alert-warning" role="alert" *ngIf="this.loguinError">
                        <strong>Error!</strong> El e-mail o la contrseña no son validos.
                    </div>
                    <button type="submit" class="btn btn-primary mb-2" >Iniciar secion</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="logUpModal" tabindex="-1" role="dialog" aria-labelledby="logUpModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenteredLabel">Ingrese sus datos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                
            </div>
            <div class="modal-body">
                <form [formGroup]="registroForm" (ngSubmit)="onRegister()">
                    <div class="form-group">
                        <label>Correo electronico</label>
                        <input type="text" class="form-control" placeholder="e-mail" formControlName="email">
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
                    </div>
                    <div class="form-group">
                        <label>Direccion</label>
                        <input type="text" class="form-control" placeholder="Direccion" formControlName="direc">
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input type="password" class="form-control" placeholder="Contraseña" formControlName="pasword">
                    </div>
                    <div class="form-group">
                        <label>Repita su contraseña</label>
                        <input type="password" class="form-control" placeholder="Contraseña" formControlName="pasword2">
                        <small>La contraseña debe contener al menos una letra mayuscula y un numero</small>
                    </div>
                    <div class="alert alert-warning" role="alert" *ngIf="this.registroForm.get('pasword').value!=this.registroForm.get('paswor2').value">
                        <strong>Error!</strong> Las contraseñas no coinciden.
                    </div>
                    <div class="alert alert-warning" role="alert" *ngIf="this.registroError">
                        <strong>Error!</strong> El e-mail o la contrseña no son validos.
                    </div>
                    <hr>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary mb-2" >Registrarse</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="logUpModalAdv" tabindex="-1" role="dialog" aria-labelledby="logUpModalAdv" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenteredLabel">Ingrese sus datos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="registroFormAdv" (ngSubmit)="onRegisterPlus()">
                    <div class="form-group">
                        <label>Correo electronico</label>
                        <input type="text" class="form-control" placeholder="e-mail" formControlName="email">
                    </div>
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
                    </div>
                    <div class="form-group">
                        <label>Direccion</label>
                        <input type="text" class="form-control" placeholder="Direccion" formControlName="direc">
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input type="password" class="form-control" placeholder="Contraseña" formControlName="pasword">
                        <br>
                        <label>Repita su contraseña</label>
                        <input type="password" class="form-control" placeholder="Contraseña" formControlName="pasword2">
                        <small>La contraseña debe contener al menos una letra mayuscula y un numero</small>
                    </div>
                    <div class="form-group">
                        <label>Tipo de cuenta</label>
                        <select class="form-control" placeholder="Tipo" formControlName="rango">
                        <option value=1>Administrador</option>
                        <option value=2>Empleado</option>
                        <option value=3>Cliente</option>
                        </select>
                    </div>
                    <div class="alert alert-warning" role="alert" *ngIf="this.registroError">
                        <strong>Error!</strong> El e-mail o la contrseña no son validos.
                    </div>
                    <div class="alert alert-warning" role="alert" *ngIf="this.registroFormAdv.get('pasword').value!=this.registroFormAdv.get('paswor2').value">
                        <strong>Error!</strong> Las contraseñas no coinciden.
                    </div>
                    <hr>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary mb-2" >Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>